
/* CONTAINER */
#container{
    width: 980px;
    margin: auto;
    background-color: #272727;
}

/* HEADER */
#top {

    background-color: #171717;
    padding: 0px;
    height: 160px;
    box-shadow: 0px 5px 14px #010101;
    /*background-image: url(/images/line.png);*/
    background-repeat: repeat-x;

}
/* HEADER CONTENT */
#header_content{
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    width:958px;
    height: 128px;
    background-color: #222222;
    position: relative;
    box-shadow: 0px -3px 20px #010101;
    border: 1px solid #303030;
    border-bottom: none;
    background-image: url(/images/logo3.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    
    
}

#header_content p 
{
    text-align: center;
    font-size: 40px;
    color: cornflowerblue;
    margin-bottom: 10px;
}


/* FOOTER */
#bottom {
    margin-top: 18px;  
    font-family: "Arial";
    font-size: 0.8em;
    clear: both;
}



#left {
    float: left;
    background-color: #373737; 
    padding: 5px;
    width: 200px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px #010101;
    margin-bottom: 20px;
    margin: 10px 0px 10px 10px;
    padding-bottom: 2px;
    
}

#content
{
    float: left;
    width: 680px;
    background: #202020;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 25px;
    border-radius: 15px;
    
    box-shadow: 0px 0px 14px #010101;
}

/*
#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}*/

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


.place {
    background-color: blue;
    color: white;
    height: 60px;
    width: 64px;
    float: left;
}

.place_reserved{
    background-color: gray;
    color: white;
    min-height: 60px;
    min-width: 64px;
    height: 60px;
    width: 64px;
    float: left;  
}

#messageList{
    color: red;
}
